body {
	margin: 0; 
	padding: 0;
}
/* remember it's different and need to be close */

/* Typography */
body, p {
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: black;
}

h1,h2,h3,h4,h5,h6 { 
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1, h2 {
    color: black;
    display: inline-block;
}

#topbar {
    position: fixed;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: #6b9fa0;
    z-index: 1;
}

#toptext {
    position: fixed;
    right: 20;
    font-family: arial;
    color: white;
}

.nav {
    position: fixed;
    right: 1000;
    font-family: arial;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
}


.map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  background:rgba(255, 255, 255, 0.6);
  margin: 20px 20px;
  font-family: 'Hind', sans-serif;
  overflow: auto;
  border-radius: 10px;
  padding: 15px;
  z-index: 1;
}

img { 
    width: 100%;
    opacity: 0.8;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



#features {
  top: 70;
  height: 600px;
  width: 400px;
  padding: 15px;
  font-family: 'Hind', sans-serif;
}

#chapters {
    margin: 100px 20px;
    width: 400px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0px;
    top: 0px;
}


#map {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;	/* 100% of viewport width */
	height: 100vh;	/* 100% of viewport height */
}

/* Modal styles */
#screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
    display: none;
}



.modal {
    display: none;
    width: 30vw;
    height: 50vh;
    position: absolute;
    margin: auto;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: white;
    overflow-y: scroll;
    z-index: 2;
    padding: 30px;
    font-family: 'Hind', sans-serif;
}


.modal>.modal-title {
    
}

.modal>.modal-body{
   
}

.modal>.close-button {
    color: #cccccc;
    position:absolute;
    right: 0;
    top: 0;
    margin: 10px;
    background: none !important;
    border: none !important;
    font-size: 30px;
    cursor: pointer;
}

.modal>.close-button:hover {
    color: #bbbbbb !important;
}

.button-default {
    background-color: #6b9fa0;
    color: white;
    font-family: arial;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    padding-left: 0px;
    padding-top: 1px;
    z-index: 1;
    font-weight: bold;
}

.button-default:hover {
    color: yellow;
}

#about {
    position: absolute;
    left: 0;
    top: 0;
}

#legend {
    bottom: 20px;
    left: 1700px;
    width: 150px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
}

.legend-key {
    display: inline-block;
    border-radius:100%;
    width:10px;
    height: 10px;
    margin-right: 10px;
}

#info-window {
    left: 0;
    bottom: 0;
    width: 21vw;
/*    padding: 10px 20px;*/
}


.mapboxgl-popup-content {
    font-family: Arial;
    background-color: rgba(255, 255, 255, 0.9); /*modalbackgroud*/
}
.mapboxgl-popup-tip {
    border-top-color: rgba(255, 174, 218, 0.9) !important;
}

.park-image {
    width: 200px;
    height: 100px;
}

#layers-control {
    position: absolute;
    top: 100;
    right: 20px;
    margin: 10px;
    width: 150px;
}

#layers-control a {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    display: block;
    margin: 0 0 5px 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
    border-radius: 5px;
}

#layers-control a:last-child {
    border: none;
}

#layers-control a:hover {
    background-color: #e5e523;
    color: black;
}

#layers-control a.active {
    background-color: #0067A3;
    color: #ffffff;
}

#layers-control a.active:hover {
    background: #2D456B;
}

ul.nav {
  list-style-type: none;
}

ul.nav > li {
    display: inline-block;
    margin-left: 20px;
}

ul.nav>li>a.navlink {

  color: white;
  font-weight: bold;
  text-decoration: none;

}

ul.nav>li>a.navlink:hover {
  color: yellow;
}

ul.nav>#logo {
  width: 20%;
  height: 20px;
  margin-left: 20px;
  z-index: 1;
}

.logo>img {
    position: fixed;
    left: 1200px;
    top: 8px;
    width: 8%;
    z-index: 1;
}


/* Slider */
    #slidercontainer {
        bottom: 50px;
        left: 500px;
        position: absolute;
/*        width: 65%;*/
        z-index: 1;
    }

    #slidercontainer h4 { margin: 0 0 0 5px; }
    
    .slider {
        -webkit-appearance: none;
        width: 1000px;
        height: 10px;
        background: #6b9fa0;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 20px;
        background: #e8b103;/*#ffdd00*/
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }

    #timeline-labels .domain, #timeline-labels .tick>line { display: none; }
    #timeline-labels text { 
        fill: black; 
        font-family: 'Roboto', sans-serif;
    }

    #map-sidebar>div { margin-bottom: 30px; }
    #map-sidebar>div:last-child { margin-bottom: 0; }
    #color-changer .swatch {
        border-radius: 100%;
        display: block;
        width: 15px;
        height: 15px;
        margin: 5px 0; 
    }

